[FORMAT]
max-line-length=120

# Docstrings
disable=C0114,C0115,C0116,R0903,W1514,R1720,R1705,R1723,W0707

[MASTER]
init-hook="import os, sys; sys.path.append(os.getcwd())"

[DESIGN]
# BasePage is a deliberately wide utility class
max-public-methods=60